body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin:0;
    overflow: hidden;
    font-family: sans-serif;

}

/* HEADER SECTION */

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-left: 40px;
    padding-right: 40px;
}

.header-left{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 800;
    font-size: 24px;
    color: #F9FAF8;
}

.header-right{
    display: flex;
    gap: 10px;
    padding-right: 10px;
    font-size: 18px;
    color: #E5E7EB;

}

/* HERO SECTION */

.hero{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 50px 80px
}

.hero-right{
    background-color: gray;
    padding: 30px;
    width:300px;
    margin: 10px;

}

.hero-left{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


/* INFORMATION SECTION */

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.information-title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.information-list{
    display: flex;
    margin-top: 30px;
    gap: 60px;

}

.information-item{
    width: 100px;

}
/* QUOTE SECTION */

.quote{
    display: flex;
    flex-direction: column;
    padding: 100px;
    gap:20px;
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1D2937;
}

.quote-bottom{
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1D2937;
}

/* ACTION SECTION */

.action{
    display: flex;
    margin: 50px 300px;
    justify-content: center;
    background-color: #3882F6;
    padding: 10px;
    gap: 20px;
    border-radius: 10px;
    color: #F9FAF8;
}

.action-title{
    font-weight: 700;
    font-size: 18px;
    color: #F9FAF8;
}

/* FOOTER SECTION */

.footer{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;


}

/* GENERAL FORMATTING */

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: inherit;
  }

  button.sign-up-button{
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px;
    height: 30px;
    width: 80px;
    text-align: center;
    color: white;
    font-weight: 700;
  }

  .empty-box{
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }